/*
 *  Laura's Updates
 */

.footer {
	font-size: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.5rem;
	background-color: #fff;
	text-align: center;
}

.signature {
	margin-top: 60px;
	padding: 30px 0 15px 0;
	border-bottom: 1px solid #cccccc; 
	border-top: 1px solid #cccccc;
}

.signature .image {
	float: left;
	margin-right: 20px;
	max-width: 100px;
	padding: 5px;
}

.signature .info {
	overflow: hidden; 
}

.signature .info p {
	color: #666;
	font-weight: 300;
	line-height: 24px; 
}

.signature .info .title {
	font-size: 18px;
	padding-bottom: 5px;
}

.signature .info .title a {
	color: #000; 
	font-size: 22px;
}

.btn-readmore {
	display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 0.5em;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 25px;
    margin: 18px 1px;
    color: #666;
    transition: all .3s;
    /*transition not supported on all browsers*/
}

.btn-readmore:hover,
.btn-readmore:focus,
.btn-readmore:active,
.btn-readmore.active {
    border: solid 2px #666;
    color: #18bc9c;
    background: #666;
    text-decoration: none;
    font-weight: bold;
}

.btn-social {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 31px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-outline {
    margin-top: 0px;
    border: solid 2px #666;
    font-size: 16px;
    color: #666;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #666;
    color: #18bc9c;
    background: #666;
}

.post h1, .post-date {
	margin: 0;
	padding: 0;
}

.post-date {
	margin-bottom: 10px;
}