<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                    <div class="intro-text">
                        <span class="name">Laura Pickens</span>
                        <hr class="mymaindiv"/> 
                        <!--<hr class="star-light">-->
                        <span class="skills">Information Security Enthusiast</span>
                    </div>
                </div>
            </div>
        </div>
    </header>