<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}">Laura Pickens</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% comment %}
                      The code below dynamically generates a sidebar nav of pages with
                      `layout: page` in the front-matter. See readme for usage.
                    {% endcomment %}
                    <ul class="nav navbar-nav navbar-right">
                     <li class="hidden">
                        <a href="{{ site.baseurl }}"></a>
                     </li >
                     {% for nav in site.data.nav %}
                      {% if nav.subcategories != null %}
                        <li class="nav-btn"> <button type="button" data-toggle="dropdown" data-hover="dropdown"> {{ nav.title }} <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                          {% for subcategory in nav.subcategories %}
                            <li class="page-scroll"><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                          {% endfor %}
                          </ul>
                        </li>
                      {% elsif nav.title == page.title %}
                         <li class="active">
                           <a href="{{ nav.url }}">{{ nav.title }}</a>
                         </li>
                      {% else %} 
                        <li class="page-scroll">
                          <a href="{{ site.url }}{{ nav.href }}">{{ nav.title }}</a>
                        </li>
                     {% endif %}
                    {% endfor %}
                   <!--{% assign pages_list = site.pages | sort:"url" %}
                    {% for node in pages_list %}
                      {% if node.title != null %}
                        {% if node.layout == "page" %}
                        <li class="page-scroll">
                          <a class="{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                          </li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>