<section class="signature">
    <div class="image">
      <img src="/images/avatar.png" class="img-responsive" alt="">
    </div>
    <div class="info">
        <div class="title">
        ABOUT <a href="/about">LAURA PICKENS</a>
        </div>
        <p>Laura is awesome.</p>
        <div>
            <ul class="list-inline">

              <li>
                  <a href="https://twitter.com/pickl09" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <!--<li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
              </li>-->
              <li>
                  <a href="/contactme" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
              </li>
          </ul>
        </div>
    </div>
</section>