<section class="signature">
    <div class="image">
      <img src="/images/avatar.png" class="img-responsive" alt="">
    </div>
    <div class="info">
        <div class="title">
        ABOUT <a href="/about">LAURA PICKENS</a>
        </div>
        <p>I spent my early years as a software engineer/system administrator before discovering the wonderful world of information security. By day, I perform vulnerability assessments on customer systems for a government contractor. By night, I work towards my MS in cybersecurity.</p>
        <p>My personal mission is to learn, never stop learning, and share what I've learned at every opportunity.</p>
        <div>
            <ul class="list-inline">

              <li>
                  <a href="//twitter.com/pickl09" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                    <a href="//github.com/pickl09" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
              </li>
              <!--<li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
              </li>-->
              <li>
                  <a href="/contactme" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
              </li>
          </ul>
        </div>
    </div>
</section>