<section class="signature">
    <div class="image">
      <img src="/images/avatar.png" class="img-responsive" alt="">
    </div>
    <div class="info">
        <div class="title">
        ABOUT <a href="/about">LAURA PICKENS</a>
        </div>
        <p>By day, I am a cybersecurity analyst, performing vulnerability assessments for a government contractor. By night, I am a grad student, working towards my MS in cybersecurity.</p>
        <p>I am here to learn and share any scraps of wisdom I manage to gather with the general public (for better or for worse).</p>
        <div>
            <ul class="list-inline">

              <li>
                  <a href="//twitter.com/pickl09" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                    <a href="//github.com/pickl09" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
              </li>
              <!--<li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
              </li>-->
              <li>
                  <a href="/contactme" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
              </li>
          </ul>
        </div>
    </div>
</section>