---
layout: default
---
<div class="container">
  <div class="page">
    <div class="bookleftalign text-center">
      <img class="bookcover" src="{{page.cover}}" alt="{{page.title}}" />
      <div class="aboutbook">
        {% include stars.html %}
        <h3>Author</h3>
        <p>{{ page.author }}</p>
        <h3>Published</h3>
        <p>{{ page.published }}</p>
        <h3>Publisher</h3>
        <p>{{ page.publisher }}</p>
      </div>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-date"> 
    <i class="fa fa-calendar" aria-hidden="true"></i> 
    {{ page.date | date_to_string }} | {{ page.type }} | 
    {% for tag in page.tags %}
      <a class="btn-tag" href="/tag/#{{ tag | slugify }}"> <i class="fa fa-fw fa-tag"></i>{{ tag }} </a>
    {% endfor %}
    </div>
    {{ content }}
    {% include signature.html %}
  </div>
</div>