---
layout: default
---
<!--<header > <!--class="{{ page.banner }}">-->
   <!--<div class="pageheader">
        <!--<div class="row">
            <div class="col-lg-12">-->
                <!--<img class="img-responsive" src="img/profile.png" alt="">-->
               <!-- <div class="page-text">
                    <span class="name">{{ page.title }}</span>
                    <span class="quote">{{ page.quote }} </span>
                    <span class="author">--{{ page.quote-author }}</span>
                </div>-->
         <!--   </div>
        </div>-->
    <!--</div>
</header>-->
<div class="container">
	<div class="page">
  		{{ content }}
  	</div>
</div>
